.ui-controlgroup-controls {
  display: flex !important
}
.controlgroup-textinput {
	padding-top:.22em !important;
	padding-bottom:.22em !important;
  flex-grow: 1 !important;
  background-color:#fff !important;
  text-align:left !important;
  font-weight:normal !important;
}
.controlgroup-text {
  flex-grow: 1 !important;
}
.listitem:hover {
  background:none !important;
  font-weight:normal !important;
}
.listitem {
  background:none !important;
  font-weight:normal !important;
  white-space:normal !important;
  cursor:default !important;
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}
.badge {
  min-height: 15px;
  min-width: 15px;
  background-color: #fa3e3e;
  -moz-border-radius: 10px; 
  -webkit-border-radius: 10px; 
  border-radius: 10px;
  color: white !important;
  font-weight:normal !important;
  text-align:center !important;
 
  font-size: 10px !important;
  margin: 3px 5px;
  text-indent: 0px;

  position: absolute;
  top: 0;
  right: 0;
}
.ui-li-thumb {
  left: 0.5em !important;
  top: unset !important;
  vertical-align: middle;
}
.dn-btn:hover {
  background:#ddd !important;
}
.dn-btn {
  border-radius: 0.5em;
  padding: 0.5em;
  background: #ccc;
}
.uploads_area {
  width:600px;
  height:64px;
  text-align:center;
  border-color: #ddd;
  border-style: dashed;
  margin-bottom: 0.5em;
  cursor: pointer;
}
.uploads_area div {
  display: block;
  visibility: hidden;
  width: 0;
  height:0;
}
.progress {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: "grey";
}
.progress_bar {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: green;
}
.ui-field-contain .ui-select {
  display: inline !important;
}
